.main-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.aside-wrapper {
    flex: 1 0 15%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1%;
}

.aside-wrapper h2 {
    font-size: 18px;
    margin-bottom: 5%;
    text-align: center;
    margin-top: 13%;
}

.aside-wrapper ul {
    width: 100%;
    list-style: none;
    text-align: center;
}

.aside-wrapper ul li {
    background-color: #cccccc;
    margin-bottom: 10%;
    height: 8vh;
    line-height: 8vh;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}

.aside-wrapper ul li a {
    color: #eeeeee;
    font-weight: 100;
    text-transform: uppercase;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.aside-wrapper ul li:hover {
    background-color: #444444;
    cursor: pointer;
}